*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
/* header */
.header {
  background: #000000;
}

.container {
  margin: 0 auto;
  max-width: 1095px;
}

.header__inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  color: #ffffff;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.logo {
}



.menu__list-link {
  text-decoration: none;
  color: #ffffff;

}

/* com */

.com_container {
  background-image: url("../../assets/images/Bg_img_01.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.com {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 69px;
  color: #ffffff;
  text-transform: uppercase;
}

.title_brown {
  display: block;
  color: #b88b58;
}

.phone {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
}

.btn {
  display: inline-block;
  height: 50px;
  background: #b88b58;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  width: 192px;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 50px;
}

.slider {
  display: flex;
  width: 62px;
  justify-content: space-between;
  margin-bottom: 42px;
}

.slide {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #b88b58;
  border: 2px solid #b88b58;
  border-radius: 50%;
  cursor: pointer;
}
