<div class="aboutus">
    <div title_container>
        <h2 class="aboutus__title">About us</h2>
        <span class="aboutus__signature">Who we are?</span>
    </div>
    <div aboutus__container>
        <div>
            <p class="aboutus__text">
                Praesent metus urna, feugiat a placerat vel, elementum at leo. Quisque vel fermentum ipsum. Nulla at facilisis est, vel condimentum ligula. Mauris volutpat vitae risus sed pellentesque. Praesent fermentum neque ac tellus gravida, at varius sem accumsan. Nam porta erat id sapien consectetur. Fusce sed purus eros. Vivamus rhoncus, ipsum in tempus fermentum, orci leo facilisis purus. Nam porta erat id sapien consectetur. Fusce sed purus eros. Vivamus rhoncus, ipsum in tempus fermentum, orci leo facilisis purus.
            </p>
            <button class="aboutus__btn">Learn more</button>
        </div>
        <div>
            <video class="video" autoplay width="446" height="276" controls poster="../../assets/images/Bg_img_01.png">
                <source src="../../assets/videos/preview.mp4" type='video/ogg; codecs="theora, vorbis"'>
                <source src="../../assets/videos/preview.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2'>
                <source src="../../assets/videos/preview.mp4" type='video/webm; codecs="vp8, vorbis"'>
            </video>
        </div>
    </div>
</div>