
<header class="header">

    <div class="header__inner container">
        <a href="" class="logo">
            <img src="assets/images/Logo.png" alt="No image">
        </a>
        <ul class="menu__list">
           <li class="menu__list-item"><a class="menu__list-link" href="/">Home</a></li>
           <li class="menu__list-item"><a class="menu__list-link" href="/">About us</a></li>
           <li class="menu__list-item"><a class="menu__list-link" href="/">Services</a></li>
           <li class="menu__list-item"><a class="menu__list-link" href="/">Our project</a></li>
           <li class="menu__list-item"><a class="menu__list-link" href="/">Our team</a></li>
           <li class="menu__list-item"><a class="menu__list-link" href="/">Happy clients</a></li>
           <li class="menu__list-item"><a class="menu__list-link" href="/">Price</a></li>
           <li class="menu__list-item"><a class="menu__list-link" href="/">Some facts</a></li>
           <li class="menu__list-item"><a class="menu__list-link" href="/">Contact us</a></li>
        </ul>
    </div>
</header>