
<header class="header">

    <div class="header__container">
        <a href="" class="logo">
            <img src="assets/images/Logo.png" alt="No image">
        </a>
        <ul class="nav">
           <li class="link"><a class="linka" href="/">Home</a></li>
           <li class="link"><a class="linka" href="/">About us</a></li>
           <li class="link"><a class="linka" href="/">Services</a></li>
           <li class="link"><a class="linka" href="/">Our project</a></li>
           <li class="link"><a class="linka" href="/">Our team</a></li>
           <li class="link"><a class="linka" href="/">Happy clients</a></li>
           <li class="link"><a class="linka" href="/">Price</a></li>
           <li class="link"><a class="linka" href="/">Some facts</a></li>
           <li class="link"><a class="linka" href="/">Contact us</a></li>
        </ul>
    </div>
</header>